*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #4A4B4B
} 

@media only screen and (max-width: 770px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}